
.vs/Physio/FileContentIndex/0e3ba90c-1268-4339-a380-5d195ca0af21.vsidx
.vs/Physio/FileContentIndex/cb5e8d7b-4fd8-4c61-a3aa-33052ef631ad.vsidx
.vs/Physio/v17/Browse.VC.db
.vs/Physio/v17/Browse.VC.db-shm
.vs/Physio/v17/Browse.VC.db-wal
.vs/Physio/v17/Browse.VC.opendb
.vs/Physio/v17/ipch/AutoPCH/3d3eb7804f324065/MAIN.ipch
.vs